# Ignore node_modules directory
node_modules/

# Ignore build artifacts
build/
dist/

# Ignore local development environment files
.env

# Ignore log files and directories
*.log
logs/

# Ignore compiled binaries
*.exe
*.out

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore dependency files for various package managers
package-lock.json
yarn.lock
