alembic
Babel
blinker
click
dnspython
email-validator
flask
Flask-Admin
flask-babel
Flask-BabelEx
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Principal
Flask-Security-Too
flask-sqlalchemy
flask-wtf
greenlet
gunicorn
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
mysqlclient
passlib
PyJWT
pytz
speaklater
SQLAlchemy
typing-extensions
werkzeug
wtforms
zipp
